@import url(https://fonts.googleapis.com/css2?family=Lato:wght@700;

900&family=Ubuntu:wght@400;700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Ubuntu";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Ubuntu";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.625rem 0 1.25rem 0;
}

.form__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.form__title {
  position: absolute;
  -webkit-transform: translateY(calc(-100% + -0.5rem));
      -ms-transform: translateY(calc(-100% + -0.5rem));
          transform: translateY(calc(-100% + -0.5rem));
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.4;
  color: #424551;
}

.form__error {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(calc(100% + 0.25rem));
      -ms-transform: translateY(calc(100% + 0.25rem));
          transform: translateY(calc(100% + 0.25rem));
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  color: #ff4242;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.75rem 3rem 0.75rem 1rem;
  border-radius: 0.25rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #1e212c;
  background-color: #f4f5f6;
  -webkit-box-shadow: inset 0px 0px 0px 0.0625rem #d7dadd;
          box-shadow: inset 0px 0px 0px 0.0625rem #d7dadd;
  outline: none;
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.input.input-big {
  font-size: 1rem;
  padding: 0.8125rem 3rem 0.8125rem 1rem;
}

.input.input-small {
  font-size: 0.75rem;
  padding: 0.5625rem 2.5rem 0.5625rem 0.75rem;
}

.input._form-focus {
  -webkit-box-shadow: inset 0px 0px 0px 0.0625rem rgba(255, 90, 48, 0.4), 0px 80px 80px -20px rgba(255, 90, 48, 0.08), 0px 30px 24px -10px rgba(255, 90, 48, 0.05), 0px 12px 10px -6px rgba(255, 90, 48, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: inset 0px 0px 0px 0.0625rem rgba(255, 90, 48, 0.4), 0px 80px 80px -20px rgba(255, 90, 48, 0.08), 0px 30px 24px -10px rgba(255, 90, 48, 0.05), 0px 12px 10px -6px rgba(255, 90, 48, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  background-color: #ffffff;
}

.input._form-error {
  -webkit-box-shadow: inset 0px 0px 0px 0.0625rem #ff4242;
          box-shadow: inset 0px 0px 0px 0.0625rem #ff4242;
}

.input::-webkit-input-placeholder {
  color: #9a9ca5;
}

.input::-moz-placeholder {
  color: #9a9ca5;
}

.input:-ms-input-placeholder {
  color: #9a9ca5;
}

.input::-ms-input-placeholder {
  color: #9a9ca5;
}

.input::placeholder {
  color: #9a9ca5;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.player-video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.player-video video,
.player-video iframe,
.player-video object,
.player-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.general-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.25rem;
  padding: 0rem 2rem;
  font-size: 0.875rem;
  line-height: 2.75rem;
  line-height: 3.1428571429;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.03125rem;
  text-transform: uppercase;
  -webkit-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  white-space: nowrap;
}

.general-btn .btn-icon {
  -webkit-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.general-btn._disabled {
  opacity: 0.5;
  pointer-events: none;
}

.general-btn.btn-big {
  font-size: 1rem;
  line-height: 3.25;
  padding: 0rem 2.5rem;
}

.general-btn.btn-big .btn-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.375rem;
}

.general-btn.btn-small {
  font-size: 0.75rem;
  line-height: 3;
  padding: 0rem 1.5rem;
}

.basic-btn {
  background-color: #ff5a30;
  color: #ffffff;
}

.basic-btn .btn-icon {
  fill: #ffffff;
}

.basic-btn:hover {
  background-color: #fc3300;
}

.basic-btn.btn-big .btn-icon {
  fill: #ffffff;
}

.basic-btn.btn-bordered:hover {
  color: #ffffff;
  background-color: #ff5a30;
}

.basic-btn.btn-bordered:hover .btn-icon {
  fill: #ffffff;
}

.sec-btn {
  background-color: #e5e8ed;
  color: #424551;
}

.sec-btn .btn-icon {
  fill: #424551;
}

.sec-btn.btn-big .btn-icon {
  fill: #ffffff;
}

.sec-btn:hover {
  color: #424551;
  background-color: #d7dadd;
  -webkit-box-shadow: inset 0px 0px 0px 0.0625rem #d7dadd;
          box-shadow: inset 0px 0px 0px 0.0625rem #d7dadd;
}

.sec-btn:hover .btn-icon {
  fill: #ffffff;
}

.dark-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #424551;
  color: #ffffff;
}

.dark-btn .btn-icon {
  fill: #ffffff;
}

.dark-btn.btn-big .btn-icon {
  fill: #ffffff;
}

.dark-btn:hover {
  color: #ffffff;
  background-color: #1e212c;
  -webkit-box-shadow: inset 0px 0px 0px 0.0625rem #1e212c;
          box-shadow: inset 0px 0px 0px 0.0625rem #1e212c;
}

.dark-btn:hover .btn-icon {
  fill: #ffffff;
}

.white-btn {
  background-color: #ffffff;
  color: #424551;
}

.white-btn .btn-icon {
  fill: #424551;
}

.white-btn.btn-big .btn-icon {
  fill: #ffffff;
}

.white-btn:hover {
  color: #1e212c;
  background-color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 0px 0.0625rem #ffffff;
          box-shadow: inset 0px 0px 0px 0.0625rem #ffffff;
}

.white-btn:hover .btn-icon {
  fill: #1e212c;
}

.video-play-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.125rem;
  background-color: #ff5a30;
  border-radius: 50%;
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.video-play-button .video-play-button-icon {
  fill: #ffffff;
  width: 1rem;
  height: 1rem;
}

.video-play-button.btn-big {
  padding: 1.6875rem;
}

.video-play-button.btn-big .video-play-button-icon {
  width: 1.625rem;
  height: 1.625rem;
}

.video-play-button:hover {
  -webkit-box-shadow: 0px 0px 0px 16px rgba(255, 90, 48, 0.12);
          box-shadow: 0px 0px 0px 16px rgba(255, 90, 48, 0.12);
}

.video-volume-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.12);
  -webkit-transition: 200ms ease-out;
  -o-transition: 200ms ease-out;
  transition: 200ms ease-out;
}

.video-volume-button:hover {
  background-color: rgba(255, 255, 255, 0.24);
}

.video-volume-button .video-volume-button-icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: #ffffff;
}

.video-volume-button .video-volume-button-icon .mute-icon,
.video-volume-button .video-volume-button-icon .play-icon {
  -webkit-transition: 200ms ease-out;
  -o-transition: 200ms ease-out;
  transition: 200ms ease-out;
}

.video-volume-button .video-volume-button-icon .mute-icon {
  visibility: visible;
  opacity: 1;
}

.video-volume-button .video-volume-button-icon .play-icon {
  visibility: hidden;
  opacity: 0;
}

.video-volume-button._unmuted .video-volume-button-icon .mute-icon {
  visibility: hidden;
  opacity: 0;
}

.video-volume-button._unmuted .video-volume-button-icon .play-icon {
  visibility: visible;
  opacity: 1;
}

.main-values__title,
.main-video__title {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 2.875rem;
  line-height: 1.3043478261;
  text-align: center;
  color: #1e212c;
}

.request-form__title {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.5;
  text-align: center;
  color: #1e212c;
}

.main-values__subtitle,
.main-video__subtitle {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: center;
  color: #787a80;
}

.value-card__title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #1e212c;
}

.value-card__subtitle {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625;
  color: #787a80;
}

.background.bg-texture {
  background-color: #f4f5f6;
}

.header {
  padding: 1.25rem 0;
  position: relative;
  z-index: 5;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-header {
  margin: 0 3.75rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.55rem;
     -moz-column-gap: 2.55rem;
          column-gap: 2.55rem;
}

.menu-header__link {
  font-weight: 700;
  font-size: 1rem;
  line-height: 160%;
  color: #424551;
  white-space: nowrap;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.menu-header__link._active {
  color: #ff5a30;
}

.contacts-header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.25rem;
}

.item-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-contact__image {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.75rem;
  fill: #ff5a30;
}

.item-contact__main {
  white-space: nowrap;
}

.item-contact__title {
  display: block;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  color: #424551;
}

.item-contact__text {
  display: block;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  color: #1e212c;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.icon-menu {
  display: none;
}

.main-hero__slider {
  position: relative;
}

.slide-hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 61.75rem !important;
}

.slide-hero__image {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.slide-hero__image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 33, 44, 0.6);
}

.slide-hero__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.slide-hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 10rem;
  padding: 14rem 5.8125rem 16.25rem 5.8125rem;
}

.slide-hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.content-main-hero__title {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1.3055555556;
  letter-spacing: 0.0625rem;
  color: #ffffff;
  white-space: pre-line;
}

.content-main-hero__title span {
  color: #ff5a30;
}

.content-main-hero__subtitle {
  margin-top: 1.5rem;
  max-width: 37.1875rem;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #ffffff;
}

.content-main-hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  margin-top: 3.8125rem;
}

.slider-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  min-height: 100%;
  z-index: 1;
  pointer-events: none;
}

.slider-nav__buttons {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 1.5rem;
  -webkit-transform: translateY(calc(-50% + 0.1875rem));
      -ms-transform: translateY(calc(-50% + 0.1875rem));
          transform: translateY(calc(-50% + 0.1875rem));
}

.slider-nav__buttons > * {
  padding: 0.75rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  cursor: pointer;
  pointer-events: all;
}

.slider-nav__buttons > *:hover {
  background-color: #ffffff;
}

.slider-nav__buttons > *.swiper-button-disabled {
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

.slider-nav__btn-prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider-nav__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin-bottom: 7.375rem;
}

.slider-nav__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.slider-nav__pagination-bullet {
  -ms-flex-preferred-size: 11.125rem;
      flex-basis: 11.125rem;
  margin-right: 0.25rem;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  pointer-events: all;
  cursor: pointer;
}

.slider-nav__pagination-bullet:last-child {
  margin-right: 0;
}

.slider-nav__pagination-bullet.swiper-pagination-bullet-active {
  color: #ffffff;
}

.slider-nav__pagination-bullet.swiper-pagination-bullet-active .slider-nav__pagination-timer::after {
  -webkit-animation: timer-animation 14950ms ease-in-out;
          animation: timer-animation 14950ms ease-in-out;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

@-webkit-keyframes timer-animation {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }

  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes timer-animation {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }

  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.slider-nav__pagination-timer {
  position: relative;
  display: block;
  margin-top: 0.625rem;
  height: 0.125rem;
  border-radius: 0.125rem;
  background-color: rgba(255, 255, 255, 0.6);
  pointer-events: all;
}

.slider-nav__pagination-timer::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0% 50%;
      -ms-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  background-color: #ffffff;
}

.main-video {
  margin-top: 7.5rem;
}

.main-video__subtitle {
  margin-top: 1.5rem;
}

.player-video {
  margin-top: 3.75rem;
}

.player-video::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.player-video._paused::after {
  background-color: rgba(30, 33, 44, 0.6);
}

.player-video__controls {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.player-video__play-btn {
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(50%);
      -ms-transform: translateY(-50%) translateX(50%);
          transform: translateY(-50%) translateX(50%);
  opacity: 0;
  visibility: hidden;
}

._active-controls .player-video__play-btn {
  opacity: 1;
  visibility: visible;
}

.player-video__play-btn._active {
  opacity: 1;
  visibility: visible;
}

.player-video__control-panel {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-values {
  margin-top: 11.25rem;
}

.main-values__subtitle {
  margin-top: 1.5rem;
}

.main-values__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.875rem -0.9375rem 0 -0.9375rem;
}

.main-values__cards .divider {
  display: block;
  width: 0.0625rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(218, 219, 221, 0)), color-stop(12.33%, rgba(218, 219, 221, 0.5)), color-stop(51.91%, #dadbdd), color-stop(87.85%, rgba(218, 219, 221, 0.5)), to(rgba(218, 219, 221, 0)));
  background-image: -o-linear-gradient(rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12.33%, #dadbdd 51.91%, rgba(218, 219, 221, 0.5) 87.85%, rgba(218, 219, 221, 0) 100%);
  background-image: linear-gradient(rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12.33%, #dadbdd 51.91%, rgba(218, 219, 221, 0.5) 87.85%, rgba(218, 219, 221, 0) 100%);
}

.value-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-preferred-size: 19.6875rem;
      flex-basis: 19.6875rem;
  padding: 1.875rem 0.9375rem;
}

.value-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.value-card__image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  fill: #ff5a30;
}

.value-card__title {
  margin-top: 1.5rem;
}

.value-card__subtitle {
  margin-top: 0.5rem;
}

.request-form {
  margin-top: 16.9375rem;
  -webkit-transform: translateY(-9.4375rem);
      -ms-transform: translateY(-9.4375rem);
          transform: translateY(-9.4375rem);
}

.request-form__inner {
  padding: 3rem 3.75rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.request-form__form {
  margin-top: 2rem;
}

.request-form__form .form__row {
  margin: 0 -0.75rem;
}

.request-form__form .form__column {
  padding: 0 0.75rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.25rem;
          flex: 0 1 16.25rem;
}

.request-form__form .form__column:nth-last-child(-n+2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.request-form__form .form__button {
  margin: 0rem 0.75rem 0rem 0.75rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.swiper-fade.swiper-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

@media (max-width: 78.75em) {
  .menu-header {
    margin: 0 1.875rem;
  }

@supports (gap: clamp( 0.625rem , 0.0930851064rem  +  2.6595744681vw , 2.1875rem )) {
    .menu-header__list {
      gap: clamp( 0.625rem , 0.0930851064rem  +  2.6595744681vw , 2.1875rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.0930851064rem  +  2.6595744681vw , 2.1875rem )) {
    .menu-header__list {
      gap: calc(0.625rem + 1.5625 * (100vw - 20rem) / 58.75);
    }
}

@supports (gap: clamp( 0.625rem , 0.1994680851rem  +  2.1276595745vw , 1.875rem )) {
    .contacts-header__items {
      gap: clamp( 0.625rem , 0.1994680851rem  +  2.1276595745vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.1994680851rem  +  2.1276595745vw , 1.875rem )) {
    .contacts-header__items {
      gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 58.75);
    }
}

  .item-contact__title {
    font-size: 0.75rem;
  }

  .item-contact__text {
    font-size: 1rem;
  }

  .slide-hero {
    min-height: auto !important;
  }

  .request-form__form .form__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .request-form__form .form__column {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0rem 0 3.625rem 0;
  }
}

@media (max-width: 61.99875em) {
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .menu-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 300px;
    min-height: 100vh;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #e5e8ed;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    visibility: hidden;
  }

  .menu-open .menu-header {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    visibility: visible;
  }

  .menu-header__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    overflow-y: scroll;
    padding: 1.875rem 2.8125rem 0.9375rem 1.875rem;
  }

  .menu-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu-header__link {
    font-size: 1.125rem;
  }

  .icon-menu {
    display: block;
    margin-left: 1.875rem;
    position: relative;
    width: 1.875rem;
    height: 1.875rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.25rem;
    border-radius: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.125rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.125rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.125rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .slide-hero__container {
    padding: 0 0.9375rem 0 0.9375rem;
  }

@supports (padding-top: clamp( 2.5rem , -0.9042553191rem  +  17.0212765957vw , 12.5rem )) {
    .slide-hero__container {
      padding-top: clamp( 2.5rem , -0.9042553191rem  +  17.0212765957vw , 12.5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , -0.9042553191rem  +  17.0212765957vw , 12.5rem )) {
    .slide-hero__container {
      padding-top: calc(2.5rem + 10 * (100vw - 20rem) / 58.75);
    }
}

@supports (padding-bottom: clamp( 6.25rem , 3.0585106383rem  +  15.9574468085vw , 15.625rem )) {
    .slide-hero__container {
      padding-bottom: clamp( 6.25rem , 3.0585106383rem  +  15.9574468085vw , 15.625rem );
    }
}

@supports not (padding-bottom: clamp( 6.25rem , 3.0585106383rem  +  15.9574468085vw , 15.625rem )) {
    .slide-hero__container {
      padding-bottom: calc(6.25rem + 9.375 * (100vw - 20rem) / 58.75);
    }
}

@supports (font-size: clamp( 1.875rem , 1.2367021277rem  +  3.1914893617vw , 3.75rem )) {
    .content-main-hero__title {
      font-size: clamp( 1.875rem , 1.2367021277rem  +  3.1914893617vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.2367021277rem  +  3.1914893617vw , 3.75rem )) {
    .content-main-hero__title {
      font-size: calc(1.875rem + 1.875 * (100vw - 20rem) / 58.75);
    }
}

  .content-main-hero__subtitle {
    width: 6.25%rem;
  }

@supports (margin-top: clamp( 0.625rem , 0.4122340426rem  +  1.0638297872vw , 1.25rem )) {
    .content-main-hero__subtitle {
      margin-top: clamp( 0.625rem , 0.4122340426rem  +  1.0638297872vw , 1.25rem );
    }
}

@supports not (margin-top: clamp( 0.625rem , 0.4122340426rem  +  1.0638297872vw , 1.25rem )) {
    .content-main-hero__subtitle {
      margin-top: calc(0.625rem + 0.625 * (100vw - 20rem) / 58.75);
    }
}

@supports (font-size: clamp( 0.875rem , 0.789893617rem  +  0.4255319149vw , 1.125rem )) {
    .content-main-hero__subtitle {
      font-size: clamp( 0.875rem , 0.789893617rem  +  0.4255319149vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.789893617rem  +  0.4255319149vw , 1.125rem )) {
    .content-main-hero__subtitle {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 58.75);
    }
}

@supports (margin-top: clamp( 0.625rem , 0.1994680851rem  +  2.1276595745vw , 1.875rem )) {
    .content-main-hero__buttons {
      margin-top: clamp( 0.625rem , 0.1994680851rem  +  2.1276595745vw , 1.875rem );
    }
}

@supports not (margin-top: clamp( 0.625rem , 0.1994680851rem  +  2.1276595745vw , 1.875rem )) {
    .content-main-hero__buttons {
      margin-top: calc(0.625rem + 1.25 * (100vw - 20rem) / 58.75);
    }
}

@supports (gap: clamp( 0.625rem , 0.4122340426rem  +  1.0638297872vw , 1.25rem )) {
    .content-main-hero__buttons {
      gap: clamp( 0.625rem , 0.4122340426rem  +  1.0638297872vw , 1.25rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.4122340426rem  +  1.0638297872vw , 1.25rem )) {
    .content-main-hero__buttons {
      gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 58.75);
    }
}

  .slider-nav__buttons {
    display: none;
  }

@supports (margin-bottom: clamp( 2.5rem , 1.0106382979rem  +  7.4468085106vw , 6.875rem )) {
    .slider-nav__container {
      margin-bottom: clamp( 2.5rem , 1.0106382979rem  +  7.4468085106vw , 6.875rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.0106382979rem  +  7.4468085106vw , 6.875rem )) {
    .slider-nav__container {
      margin-bottom: calc(2.5rem + 4.375 * (100vw - 20rem) / 58.75);
    }
}

  .main-values__cards .divider {
    display: none;
  }

  .main-values__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .request-form__inner {
    padding: 3rem 0.9375rem;
  }
}

@media (max-width: 47.99875em) {
  .contacts-header {
    padding: 1.25rem 1.875rem;
    -webkit-box-shadow: inset 0px 0.3125rem 0.3125rem -0.3125rem #424551;
            box-shadow: inset 0px 0.3125rem 0.3125rem -0.3125rem #424551;
  }

  .contacts-header__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content-main-hero__subtitle {
    max-width: 100%;
  }

  .request-form__form .form__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-top: -1.75rem;
  }
}

@media (max-width: 29.99875em) {
  .menu-header {
    width: 100%;
  }

  .content-main-hero__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (any-hover: hover) {
  .basic-btn.btn-bordered {
    background-color: transparent;
    -webkit-box-shadow: inset 0px 0px 0px 0.0625rem #ff5a30;
            box-shadow: inset 0px 0px 0px 0.0625rem #ff5a30;
    color: #ff5a30;
  }

  .basic-btn.btn-bordered .btn-icon {
    fill: #ff5a30;
  }

  .sec-btn.btn-bordered {
    background-color: transparent;
    -webkit-box-shadow: inset 0px 0px 0px 0.0625rem #d7dadd;
            box-shadow: inset 0px 0px 0px 0.0625rem #d7dadd;
    color: #424551;
  }

  .sec-btn.btn-bordered .btn-icon {
    fill: #424551;
  }

  .dark-btn.btn-bordered {
    background-color: transparent;
    -webkit-box-shadow: inset 0px 0px 0px 0.0625rem #424551;
            box-shadow: inset 0px 0px 0px 0.0625rem #424551;
    color: #424551;
  }

  .dark-btn.btn-bordered .btn-icon {
    fill: #424551;
  }

  .white-btn.btn-bordered {
    background-color: transparent;
    -webkit-box-shadow: inset 0px 0px 0px 0.0625rem #ffffff;
            box-shadow: inset 0px 0px 0px 0.0625rem #ffffff;
    color: #ffffff;
  }

  .white-btn.btn-bordered .btn-icon {
    fill: #ffffff;
  }

  .menu-header__link:hover {
    color: #ff5a30;
  }

  .item-contact:hover .item-contact__text {
    color: #ff5a30;
  }
}